In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
# pip install selenium
from selenium import webdriver
from selenium.webdriver.chrome.service import Service

service = Service("/usr/local/bin/chromedriver")
drive = webdriver.Chrome(service=service) 
drive.get('https://www.immoweb.be/en/classified/apartment/for-sale/woluwe-saint-lambert/1200/11092028')
soup = BeautifulSoup(drive.page_source, "lxml")
jobs_elements = soup.find_all("tr", class_= "classified-table__row")

[{'table_data': 'After signing the deed', 'table_header': 'Available as of'}, {'table_data': '2005', 'table_header': 'Construction year'}, {'table_data': '1', 'table_header': 'Floor'}, {'table_data': '5', 'table_header': 'Number of floors'}, {'table_data': 'As new', 'table_header': 'Building condition'}, {'table_data': '2', 'table_header': 'Number of frontages'}, {'table_data': '1', 'table_header': 'Covered parking spaces'}, {'table_data': 'Urban', 'table_header': 'Surroundings type'}, {'table_data': '80\n\n                                    \n                                            m²                                         \n                                            square meters', 'table_header': 'Living area'}, {'table_data': '35\n\n                                    \n                                            m²                                         \n                                            square meters', 'table_header': 'Living room surface'}, {'table_data': 'USA hyper equipped', 'table_header': 'Kitchen type'}, {'table_data': '2', 'table_header': 'Bedrooms'}, {'table_data': '14\n\n                                        \n                                                m²                                             \n                                                square meters', 'table_header': 'Bedroom 1 surface'}, {'table_data': '8\n\n                                        \n                                                m²                                             \n                                                square meters', 'table_header': 'Bedroom 2 surface'}, {'table_data': '1', 'table_header': 'Bathrooms'}, {'table_data': '1', 'table_header': 'Toilets'}, {'table_data': 'No', 'table_header': 'Furnished'}, {'table_data': 'Yes', 'table_header': 'Armored door'}, {'table_data': '10\n\n                                    \n                                            m²\n                                         \n                                            square meters', 'table_header': 'Terrace surface'}, {'table_data': '143\n\n                                        \n                                         kWh/m²\n                                     \n                                        kilowatt hour per square meters', 'table_header': 'Primary energy consumption'}, {'table_data': 'C', 'table_header': 'Energy class'}, {'table_data': 'no data', 'table_header': 'no data'}, {'table_data': 'Not specified', 'table_header': 'Reference number of the EPC report'}, {'table_data': '28 kg CO₂/m²', 'table_header': 'CO₂ emission'}, {'table_data': 'Not specified', 'table_header': 'Yearly theoretical total energy consumption'}, {'table_data': 'Gas', 'table_header': 'Heating type'}, {'table_data': 'Yes', 'table_header': 'Double glazing'}, {'table_data': 'Non flood zone', 'table_header': 'Flood zone type'}, {'table_data': '€ 87\n                                         \n                                            87 €', 'table_header': 'Monthly charges'}, {'table_data': '€ 1,535\n                                         \n                                            1535 €', 'table_header': 'Cadastral income'}, {'table_data': 'No', 'table_header': 'Tenement building'}, {'table_data': 'no data', 'table_header': 'no data'}, {'table_data': 'Wezembeeklaan 120 120 \n                                                                                                                                                                                                        \n                                                                                                                                                    1950\n                                                                                                                                                    - Kraainem', 'table_header': 'Address'}, {'table_data': 'http://www.keystones.be', 'table_header': 'Website'}, {'table_data': '5766933', 'table_header': 'External reference'}]

,table_data,table_header
0,After signing the deed,Available as of
1,2005,Construction year
2,1,Floor
3,5,Number of floors
4,As new,Building condition
5,2,Number of frontages
6,1,Covered parking spaces
7,Urban,Surroundings type
8,80\n\n \n ...,Living area
9,35\n\n \n ...,Living room surface
10,USA hyper equipped,Kitchen type
11,2,Bedrooms
12,14\n\n ...,Bedroom 1 surface
13,8\n\n \...,Bedroom 2 surface
14,1,Bathrooms
15,1,Toilets
16,No,Furnished
17,Yes,Armored door
18,10\n\n \n ...,Terrace surface
19,143\n\n ...,Primary energy consumption
20,C,Energy class
21,no data,no data
22,Not specified,Reference number of the EPC report
23,28 kg CO₂/m²,CO₂ emission
24,Not specified,Yearly theoretical total energy consumption
25,Gas,Heating type
26,Yes,Double glazing
27,Non flood zone,Flood zone type
28,€ 87\n ...,Monthly charges
29,"€ 1,535\n ...",Cadastral income
30,No,Tenement building
31,no data,no data
32,Wezembeeklaan 120 120 \n ...,Address
33,http://www.keystones.be,Website
34,5766933,External reference

In [ ]:

#start to scrape
data = []

for jobs_element in jobs_elements:
    try:
        table_data = jobs_element.find("td", class_="classified-table__data").text.strip()
    
    # if you dont add except .text method will produce an error
    except AttributeError:
        table_data = 'no data'
    
    try:
        table_header = jobs_element.find("th", class_="classified-table__header").text.strip()
    
    # if you dont add except .text method will produce an error
    except AttributeError:
        table_header = 'no data'
    
    item = {'table_data':table_data,
            'table_header': table_header}
    
    data.append(item)
    
print(data)

df = pd.DataFrame(data)

df